## 1. Primitive Data types and Operators

### 1.1 Numbers (int, float)

In [1]:
# Literals and Variables
# You can directly use these literals or use varibles

3 * 3
8 - 1
15 / 5
1 + 1 

15 % 6
15 // 6
2 ** 3

8

In [2]:
price = 3
num = 5
print(price * num)

15

### 1.2  Boolean data type

In [3]:
True 
False

old_enough = True
print(old_enough)

old_enough = 3 < 5
print(old_enough)

True
True

In [4]:
not True

False

In [5]:
not False

True

In [6]:
True and False

False

In [7]:
# You can use and, or to combine multiple conditional test

In [8]:
1 < 2 and 2 < 3

True

### 1.3 Strings

In [9]:
a_str = "this is a string"
an_str = 'another str'
a_long_str = """
this is the first line,
second line,
third line
"""
print(a_long_str)

this is the first line,
second line,
third line

In [10]:
name = "xinyi "
major = 189
#print(name + major)

In [11]:
#print("the name is " + name + ", the major is " + major)

In [12]:
print("the name is {1}, and the major is {0}".format(major, name))

the name is xinyi , and the major is 189

## 2. Variables and Collections (list, tuple, dict)

### 2.1 Variables

In [13]:
# a -> z
# A -> Z
# 0 -> 9
# _

# valid names like
# str_1
# age
# name
# _

# invalid names like
# 7_name
# na%me
# &name
# the name

### 2.2 Lists

In [14]:
li = []
li_2 = list()  # emp = Employee()
print(li)
print(li_2)

[]
[]

In [15]:
li_3 = [4, 5, 6]
li_4 = list(li_3)
print(li_3)
print(li_4)

[4, 5, 6]
[4, 5, 6]

In [16]:
li_3.append(8)

In [17]:
li_3

[4, 5, 6, 8]

In [18]:
li_3.append(9)

In [19]:
li_3[:3]

[4, 5, 6]

In [20]:
li_3

[4, 5, 6, 8, 9]

In [21]:
last_ele = li_3.pop()
print(last_ele)
print(li_3)

9
[4, 5, 6, 8]

In [22]:
#li_3.insert(3)
#li_3.index(5)
#li_3.count(5)

li_3

[4, 5, 6, 8]

In [23]:
9 in li_3

False

In [24]:
len(li_3)

4

### 2.3 Tuple

In [25]:
tup = (1, 2, 3)

In [26]:
li_3

[4, 5, 6, 8]

In [27]:
li_3[0] = 10

In [28]:
li_3

[10, 5, 6, 8]

In [29]:
tup

(1, 2, 3)

In [30]:
tup[0]

1

In [31]:
tup[0] = 10

TypeError: 'tuple' object does not support item assignment

### 2.4 Dictionaries

In [ ]:
a_dict = {}

In [ ]:
employee_info = {
    "first_name": "xinyi",
    "major": "CS"
}
first_name = "first_name"

In [ ]:
employee_info[first_name]

In [ ]:
employee_info["zip"] = 75206

In [ ]:
employee_info

In [ ]:
employee_info.keys()

In [ ]:
for key in employee_info.keys():
    print(employee_info[key])

In [ ]:
employee_info.items()

In [ ]:
items = list(employee_info.items())

In [ ]:
type(items)

In [ ]:
#print(employee_info.get("school", "Lyle"))
employee_info["school"] = "Lyle"
employee_info

## 3. Control Flow

### 3.1 If statement

In [ ]:
some_var = 15

# if some_var > 10:
#     print("larger than 10")
#     #print("this print belows to the if test")
# elif some_var > 11:
#     print("large than 11")
# else:
#     print("this is 10")
#print("This does not below to any test")


if some_var > 10:
    print("larger than 10")
    #print("this print belows to the if test")
if some_var > 11:
    print("large than 11")
else:
    print("this is 10")

### 3.2 For Loops

In [ ]:
li_0 = [1, 2, 3, 4, 5]
li_new = [item*2 for item in li_0]
print(li_new)

li_3 = [1, 2, 4, 9, 3]
for item in li_3:
    print(item, end=",")
    
for i, item in enumerate(li_3):
    print(i, item)

In [ ]:
li_0

In [ ]:
i = 0
while i < len(li_0):
    print(li_0[i])
    i += 1

In [ ]:
print(type(range(4)))

# a_l = range(4)
# print(a_l[-1])

for i in range(4, 20, 2):
    print(i)

## 4. functions

In [ ]:
def add_two_nums(a, b):
    res = a + b
    print("res,", res)
    return res

print("hello world")
add_two_nums(1, 2)